<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laoschool">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.PHONE" />-->

    <application
        android:name=".LaoSchoolApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/SCCommon_AppName"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screen.SplashScreen"
            android:screenOrientation="portrait"
            android:label="@string/SCCommon_AppName"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.HomeActivity"
            android:label="@string/SCCommon_AppName"
            android:theme="@style/HomeScreen"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screen.login.ScreenLogin"
            android:label="@string/title_activity_screen_login"
            android:theme="@style/ScreenLogin"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screen.PreviewImage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_preview_image"
            android:theme="@style/FullscreenTheme"/>

        <!-- [START firebase_service] -->
        <service
            android:name=".tools.LaoSchoolFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service
            android:name=".tools.LaoSchoolFireBaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>